<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CarDNA</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Work+Sans:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.1/dist/flowbite.min.css" />
    </head>
    <body class="bg-body text-white font-poppins">
        <!-- Start Header  -->
        <header class="py-6">
            <div class="container flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full">
                <div class="text-theme text-3xl font-bold">CarDNA</div>
                <div class="hidden md:flex space-x-12 items-center">
                    <a href="{{url_for('index')}}" class="text-white hover:text-theme transition-all duration-500">Home</a>
                    <a href="{{url_for('index')}}#about" class="hover:text-theme transition-all duration-500">About</a>
                    <a href="{{url_for('index')}}#contact-us" class="hover:text-theme transition-all duration-500">Contact us</a>
                    {% if "user" not in session %}
                        <a href="{{url_for('register')}}"><button class="px-6 py-2  bg-theme text-white font-bold rounded">Sign-up</button></a>
                        <a href="{{url_for('login')}}" class="hover:text-theme transition-all duration-500">log-in</a>
                    {% else: %}
                        <a href="{{url_for('options')}}"><button class="px-6 py-2  bg-theme text-white font-bold rounded">Add Repairment</button></a>
                        <a href="{{url_for('logout')}}" class="hover:text-theme transition-all duration-500">logout</a>
                    {% endif %}
                </div>
                <div class="md:hidden">
                    <svg class="fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 24" width="26" height="24">
                        <path fill="none" d="M0 0h24v24H0z"/>
                        <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z"/>
                    </svg>
                </div>
            </div>
        </header>
        <!-- End Header  -->
        <!-- start main part -->
        
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="p-4 text-sm text-center text-{{category}}-700 bg-{{category}}-100  dark:bg-{{category}}-200 dark:text-{{category}}-800" role="alert">
                <svg class="inline flex-shrink-0 mr-3 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                <span class="font-medium">{{ message }}</span>
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>
        </body>
</html>