{% extends 'base.html' %} 

{% block head %}
  <title>Car Info</title>
{% endblock head %} 

{% block content %}
<section class="flex justify-center items-center p-14">
  <div class="block bg-body p-6 rounded-2xl shadow-2xl shadow-black w-3/4">
    <h1 class="text-4xl text-theme py-4">CarDNA Report</h1>
    <div class="flex flex-wrap justify-between px-1">
      <h4 class="text-lg py-1">Car VIN: {{ car_vin }}</h4>
      <h4 class="text-lg py-1">Report Date: {{ current_date }}</h4>
    </div>

    <hr class="border-1 border-theme py-2  my-3">

    <h4 class="text-xl text-selected-text py-2">Car Information</h4>
    <div>
      <div class="pt-2 pb-4 px-1">
        <p class="py-2">  Plate letters: <span class="text-selected-text">{{ car["car_plate_letters"] }} </span></p>
        <p class="py-2"> Plate numbers: <span class="text-selected-text"> {{ car["car_plate_nums"] }} </span> </p>
        <p class="py-2"> Plate Type: <span class="text-selected-text"> {{ car['car_plate_type'] }} </span></p>
      </div>
      <hr class="border-dashed opacity-50  border-theme py-1  my-1">
      <div class="pt-2 pb-4 px-1">
        <p class="py-2">Car Mark: <span class="text-selected-text">{{ car["car_mark"] }} </span></p>
        <p class="py-2">Car Model: <span class="text-selected-text">{{ car["car_model"] }}</span></p>
      </div>
      <hr class="border-dashed opacity-50  border-theme py-1  my-1">
      <div class=" pt-2 pb-4 px-1">
        <p class="py-2">Car Seats:<span class="text-selected-text"> {{ car["car_num_seats"] }}</span> </p>
        <p class="py-2">Car Color:<span class="text-selected-text"> {{ car["car_color"] }} </span> </p>
        <p class="py-2">Manifacturing Year: <span class="text-selected-text"> {{ car['car_year'] }} </span> </p>
        <p class="py-2">Year of ownership:<span class="text-selected-text"> {{ car['car_since_date'] }}</span></p>
      </div>
    </div>

    <hr class="border-1 border-theme py-2  my-3">
    <h4 class="text-xl text-selected-text py-2">Repairments Information</h4>
    <div class="container">
      <div>
        {% for i in range(repairments_num) %}
          <h6 class="pt-4 pb-4 px-1 underline underline-offset-4  text-selected-text">Repairment {{ i+1 }}: </h6>
          <div class="pt-2 pb-4 px-1">
            <p class="py-2">Repairment paper ID:<span class="text-selected-text"> {{ repairments[i]["rep_permission_paper_id"] }}</span></p>
            <p class="py-2">Repairment Date:<span class="text-selected-text"> {{ repairments[i]["rep_date"] }}</span></p>
            <p class="py-2">Repairment Description:<span class="text-selected-text"> {{ repairments[i]["rep_desc"] }}</span></p>
            <p class="py-2">Damaged car parts: </p>
            <ul class="py-2 px-8 list-disc ">
            {% for car_part in car_parts[repairments[i]["rep_id"]] %}
              <li class="text-selected-text py-2">{{ car_part[0] }}</li>
            {% endfor %}
            </ul>
          </div>
          <hr class="border-dashed opacity-50  border-theme py-1  my-1">
        {% endfor %}
      </div>
    </div>
    <div class="flex justify-center opacity-40"><h1 class="text-9xl text-theme">CarDNA</h1></div>
  </div>
</section>
{% endblock content %}
