{% extends 'base.html' %} 

{% block content %}
<section class="flex justify-center items-center p-14">
    <div id="form" class="block bg-body p-6 rounded-2xl shadow-2xl shadow-black h-full w-1/3">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h2 class="text-theme text-3xl font-semibold my-4">Login</h2>
            <div id="" class="flex flex-row">
                <!-- National ID -->
                <div id="nation-id" class="w-full m-6 ml-0">
                    {{ form.nationID.label(class="text-lg") }}
                    {{ form.nationID(class="h-10 w-full rounded-md border text-theme bg-white text-sm pl-2 outline-theme shadow-sm placeholder-theme placeholder-opacity-70", placeholder="Enter your national ID") }}
                    {% if form.nationID.errors %}
                        {% for error in form.nationID.errors %}
                            <h5 class="text-red-600">{{ error }}</h5>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div id="" class="flex flex-row">
                <!-- Password -->
                <div id="Password" class="w-full m-5 ml-0">
                    {{ form.password.label(class="text-lg") }}
                    {{ form.password(class="h-10 w-full rounded-md border text-theme bg-white text-sm pl-2 outline-theme shadow-sm placeholder-theme placeholder-opacity-70", placeholder="Enter your password") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <h5 class="text-red-600">{{ error }}</h5>
                        {% endfor %}
                    {% endif %}
                </div> 
            </div>
            <!-- Sign up / submit button -->
            <div class="flex justify-center p-4">
                {{ form.submit(class="bg-theme border-2 border-theme w-1/2 h-10 cursor-pointer rounded-full hover:bg-selected-text hover:outline outline-2 outline-theme outline-offset-2 text-sm") }}<br>
            </div>

        </form>
    </div>
</section>
{% endblock content %}